@keyframes anim-svg-diagonal {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--pattern-diagonal-size)
      var(--pattern-diagonal-size);
  }
}

@keyframes anim-svg-halftone {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--pattern-halftone-size)
      var(--pattern-halftone-size);
  }
}
